<nav class="barnav">
  <ul id="nav">
    <li><a href="/">Accueil</a></li>
    <li><a href="/toto">Toto (error)</a></li>
    <li><a href="/exos">Exos</a></li>
    <li><a href="/countries">Countries</a></li>
    <li><a href="/users">Users</a></li>
  </ul>
</nav>
